rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /school_news/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /student_schema/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /student_schema/{parent}/studentFees/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/studentFees/{document} {
      allow read: if true;
    }


    match /student_schema/{parent}/studentPerformance/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/studentPerformance/{document} {
      allow read: if true;
    }


    match /student_schema/{parent}/studentAttendance/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/studentAttendance/{document} {
      allow read: if true;
    }


    match /setting/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /parent_comment/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }
  }
}
